form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 5px;
  margin-bottom: 5px;
  width: 40vh;
}

button {
  padding: 5px;
}

.homeContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}