<mat-toolbar color="primary">
  Angular Firebase Sign Up App
  <button mat-button *ngIf="currentUser()" [mat-menu-trigger-for]="userMenu">
    {{ currentUser()?.displayName }}
    <mat-icon>expand_more</mat-icon>
  </button>

  <mat-menu #userMenu="matMenu">
    <button mat-menu-item routerLink="/profile">
      <mat-icon>person</mat-icon>
      Profile
    </button>
    <button mat-menu-item routerLink="/home">
      <mat-icon>home</mat-icon>
      Home
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </mat-menu>
</mat-toolbar>

<div class="container">
  <router-outlet />
</div>

<mat-progress-spinner *ngIf="loading()" mode="indeterminate" diameter="50"></mat-progress-spinner>


